<div class="page row">
    <div class="page-header">
        <h1>主机 Instances</h1>
        <p class="lead">GlodonCloud为您提供一种随时获取的、弹性的计算能力，这种计算能力的体现就是主机 (Instance)。主机就是一台配置好了的服务器，它有您期望的硬件配置、操作系统和网络配置。通常情况下，您的请求可以在10秒到60秒的时间之内 完成，所以您完全可以动态地、按需使用计算能力。</p>
    </div>

    <div class="page-body">

        <div class="panel-table">
            <div ng-if="toolbar" class="toolbar">
                <button ng-if="toolbar.hasRefresh" ng-click="fetchList()" class="btn btn-sm btn-gray" type="button">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
                <button ng-if="toolbar.hasCreate" ng-click="createItem()" class="btn btn-sm btn-gray" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                    新建
                </button>
                <button ng-disabled="toolbar.handleDisabled" ng-click="removeItems()" class="btn btn-sm btn-gray" type="button">
                    <span class="glyphicon glyphicon-trash"></span>
                    删除
                </button>

                <div class="btn-group">
                    <form ng-submit="fetchList()" class="form-search">
                        <span class="glyphicon glyphicon-search"></span>
                        <input type="search" class="form-control input-sm" placeholder=""  ng-model="filterService.searchText" name="searchList" />
                    </form>
                </div>
                <div class="pull-right form-inline" ng-if="hasPaginator">
                    <span class="text-muted small">
                        每页
                        <input type="text" class="form-control input-sm tiny" ng-model="page.size" ng-blur="fetchList()" />
                        页数 {{ currentPageNum }} / {{ totalPageNum }}
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <button ng-click="searchPaginator.previous()" ng-disabled="!searchPaginator.hasPrevious()" class="btn btn-sm btn-gray" type="button">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button ng-click="searchPaginator.next()" ng-disabled="!searchPaginator.hasNext()" class="btn btn-sm btn-gray" type="button">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>

            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th ng-if="toolbar.handlebar" width="10%">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="toolbar.handlebar.isCheckAll" ng-change="checkAll()"></label>
                        </div>
                    </th>
                    <th>名称</th>
                    <th>
                        状态
                        <div dropdown class="btn-group btn-group-xs" is-open="status.isOpen">
                            <button class="btn btn-info dropdown-toggle" type="button">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a ng-click="filterStatus()" href="#"> 全部</a>
                                </li>
                                <li><a ng-click="filterStatus('RUNNING')" href="#">
                                    运行中
                                </a></li>
                                <li><a ng-click="filterStatus('SHUTDOWN')" href="#">
                                    已关机
                                </a></li>
                                <li><a ng-click="filterStatus('PAUSED')" href="#">
                                    已暂停
                                </a></li>
                            </ul>
                        </div>
                    </th>
                    <th>映像</th>
                    <th>网络</th>
                    <th>公网IP</th>
                    <th>类型</th>
                    <th ng-if="user.isAdmin">租户</th>
                    <th ng-if="user.isAdmin">宿主机</th>
                    <th>距离创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in filterResult">
                    <td ng-if="toolbar.handlebar">
                        <div class="checkbox">
                            <label><input ng-model="item.checked" ng-change="updateHandlebarStatus()" type="checkbox"></label>
                        </div>
                    </td>
                    <td>
                        <a href="/horizon/instances/{{ item.id }}">{{ item.name }}</a> &nbsp;
                        <a ng-if="item.status == 'RUNNING'" href="{{ item.console_url }}" tooltip="登录Web终端" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
                    </td>
                    <td ng-switch on="item.status">
                        <span class="icon-status" ng-class="{'icon-doing': item.status == 'booting' || item.status == 'creating' || item.status == 'stopping' || item.status == 'rebooting', 'icon-success': item.status == 'RUNNING', 'icon-warning': item.status == 'SHUTDOWN' || item.status == 'PAUSED'}"></span>
                        <span ng-switch-when="RUNNING" class="text-success">运行中</span>
                        <span ng-switch-when="SHUTDOWN" class="text-warning">已关机</span>
                        <span ng-switch-when="PAUSED" class="text-warning">已暂停</span>
                        <em ng-switch-when="creating" class="text-warning">创建中</em>
                        <em ng-switch-when="booting" class="text-warning">启动中</em>
                        <em ng-switch-when="rebooting" class="text-warning">重启中</em>
                        <em ng-switch-when="stopping" class="text-warning">关机中</em>
                    </td>
                    <td>{{ item.image }}</td>
                    <td><span ng-repeat="net in item.network">{{ net.ip }} </span></td>
                    <td>{{ item.public_ip.join(', ') }}</td>
                    <td>{{ item.type.vcpus }}核{{ item.type.ram > 1024 ? item.type.ram/1024 + 'G' : item.type.ram + 'M' }}</td>
                    <td ng-if="user.isAdmin" ng-bind="item.tenant"></td>
                    <td ng-if="user.isAdmin" ng-bind="item.host"></td>
                    <td>{{ item.time }}</td>
                    <td>
                        <div dropdown  is-open="item.isOpen" class="btn-group">
                            <button class="btn btn-sm btn-default dropdown-toggle" type="button">
                                更多操作
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a ng-click="starting(item)" href="#">
                                    <span class="glyphicon glyphicon-play"></span>
                                    启动
                                </a></li>
                                <li><a ng-click="shutdown(item)" href="#">
                                    <span class="glyphicon glyphicon-stop"></span>
                                    关机
                                </a></li>
                                <li><a ng-click="restart(item)" href="#">
                                    <span class="glyphicon glyphicon-repeat"></span>
                                    重启
                                </a></li>
                                <li><a ng-click="relateIP(item)" href="#">
                                    <span class="glyphicon glyphicon-link"></span>
                                    关联公网IP
                                </a></li>
                                <li><a ng-click="relieveRelateIP(item)" href="#">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                    解除关联公网IP
                                </a></li>
                                <li><a ng-click="createImage(item)" href="#">
                                    <span class="glyphicon glyphicon-record"></span>
                                    制作映像
                                </a></li>
                                <li><a ng-click="setting(item)" href="#">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    更改配置
                                </a></li>
                                <li><a ng-click="rename(item)" href="#">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    重命名
                                </a></li>
                                <li><a ng-click="update(item)" href="#">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    修改安全组
                                </a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p ng-if="isNull" class="none" >结果为空</p>

            <p class="tips">* 提示：可通过在各个资源上点击<span class="alert-info">“右键”</span>来进行常用操作，以及<span
                    class="alert-info">“双击”</span>来修改基本属性。</p>

            <div ng-show="isLoading"><p class="loading">正在加载...</p></div>
        </div>
    </div>
</div>

